body{
  background-color: #f28542;
  color: white;
  font-family:sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container{
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  background-color: #999;
}

.head{
  text-align: center;
  margin-bottom: 10px;
}

.head h1{
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.head h2{
  font-size: 24px;
  margin: 0;
  padding: 0;
  color: #1ac6ff;
}

.button-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button-group button{
  background-color: #808080;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  width: calc(33.33% - 10px);
  text-align: center;
  font-size: 18px;
}

.button-group button.active{
  background-color: #ff751a;
}

.cancel{
  background-color: #ff3333;
}

.cancel:hover{
  background-color: red;
}

.request{
  background-color: #5cd65c;
}

.request:hover{
  background-color: green;
}

.selected-label{
  font-size: 18px;
  margin-bottom: 10px;
}

.user-details{
  font-size: 16px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px){
  .button-group button{
    width: calc(50% - 10px);
  }
}

@media screen and (max-width: 480px){
  .button-group{
    flex-direction: column;
  }

  .button-group button{
    width: 100%;
  }
}
