body{
    background-color: #f28542;
    color: white;
    font-family:sans-serif;
    margin: 0;
    padding: 0;
}

/* Mobile-first styles */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.head {
    text-align: center;
}

h1{
    font-size: 36px;
    margin: 0;
}

h2{
    font-size: 24px;
    color: #1ac6ff;
    margin: 10px 0;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.button-group button {
    background-color: #808080;
    border: none;
    border-radius: 7px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    height: 60px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    color: white;
}

.button-group button:hover {
    background-color: #262626;
}

#cancel {
    background-color: #ff3333;
}

#cancel:hover {
    background-color: red;
}

#request {
    background-color: #5cd65c;
}

#request:hover {
    background-color: green;
}

.selected-label {
    font-size: 18px;
    margin-top: 20px;
}

/* Media queries */
@media screen and (min-width: 768px) {
    /* Styles for medium screens */
    .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 960px;
        margin: 0 auto;
    }

    h1{
        font-size: 48px;
        margin-right: 20px;
    }

    .button-group {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
    }

    .button-group button {
        margin: 10px 0;
        max-width: none;
        width: 150px;
    }

    .selected-label {
        margin-top: 0;
    }
}

@media screen and (min-width: 1200px) {
    /* Styles for large screens */
    .container {
        max-width: 1200px;
    }
}
